# /*  vim:  set filetype=yaml :  */
#
input {
  jdbc {
    jdbc_driver_library => "/usr/local/share/java/classes/mysql-connector-java.jar"
    jdbc_driver_class => "com.mysql.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://localhost:3306/GNSMSG"
    jdbc_user => "gns"
    jdbc_password => "test123"
    parameters => {
      "task" => "nagios"
    }
    schedule => "* * * * *"
# id,hostname,clientname,timezone,created,task,name,target,message,subject,priority,class,processed,ipaddress,jobref,source,status
    statement => "SELECT id,hostname,clientname,timezone,created,task,target,subject,class,ipaddress,jobref,source FROM `TblMessage` WHERE task = :task ORDER BY created"
    jdbc_paging_enabled => "true"
    jdbc_page_size => "5"
  }
}

filter {
  [some filters here]
}

output {
  stdout {
    codec => rubydebug
  }
  elasticsearch_http {
    host => "localhost"
    index => "gnsmsgs-%{+YYYY.MM.dd}"
  }
}
