[submodule "vendor/logstash/mmorenog_Kibana"]
	path = vendor/logstash/mmorenog_Kibana
	url = https://github.com/mmorenog/Kibana.git
[submodule "logstash_grok_syslog.gist"]
	path = logstash_grok_syslog.gist
	url = https://gist.github.com/166c5cbacca1f032ec299a204279f62b.git
[submodule "vendor/python-logstash"]
	path = vendor/python-logstash
	url = https://github.com/vklochan/python-logstash.git
